#home-yt-video-section {
    position: relative;

    width: 100%;

    overflow: hidden;
    background: #00000070;
    border: 1px solid rgba(0, 0, 0, 0.800);
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    padding: 50px 0;
}

#home-yt-video-section::after {

    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;

    background:
        linear-gradient(to top,
            rgba(0, 0, 0, 0.40),
            rgba(0, 0, 0, 0.20),
            rgba(0, 0, 0, 0.40));
}

/* ====================== */

.hm-yt-slider {
    padding: 0 100px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.hm-yt-slider::-webkit-scrollbar {
    display: none;
}


.hm-yt-card {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: clamp(240px, 34vw, 680px);

    border: 2px solid var(--lol-gold);
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    cursor: pointer;

}

.hm-yt-thumb {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    transition: .45s;
}

.mv-preview:hover .yt-thumb {
    transform: scale(1.03);
}


.hm-yt-show-index {
    position: absolute;
    display: flex;
    padding: 10px 15px;
    align-items: baseline;
    line-height: 1;
    gap: 0.35rem;
    font-family: "Cinzel", serif;

    user-select: none;
    z-index: 1;
    width: 100%;
    justify-content: flex-end;

    background: linear-gradient(to top,
            transparent,
            rgba(0, 0, 0, 0.9));
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;

    pointer-events: none;
    opacity: 0;
    pointer-events: none;

}

.hm-yt-current-index {

    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: var(--lol-gold);
}

.hm-yt-show-index span {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--lol-gold-hover);
}

.hm-yt-total-index {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    color: var(--lol-muted)
}


.hm-yt-video-nm {
    position: absolute;
    bottom: 0;
    padding: 3rem 1.25rem 1.25rem;
    color: white;
    font-size: 1rem;
    line-height: 1.35;
    background: linear-gradient(to bottom,
            transparent,
            rgba(0, 0, 0, 0.9));
    opacity: 0;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    pointer-events: none;
}

.hm-yt-card:hover .hm-yt-video-nm {
    opacity: 1;

}

.hm-yt-card:hover .hm-yt-show-index {
    opacity: 1;
}

/* ====================== */



.hm-yt-left-btn {
    z-index: 20;
    top: 50%;

    left: 25px;
}

.hm-yt-right-btn {
    z-index: 20;
    top: 50%;

    right: 25px;
}

.hm-yt-arrow:hover {

    background: rgba(0, 0, 0, .7);
}

/* ====================== */

.hm-yt-fade-left,
.hm-yt-fade-right {

    position: absolute;

    top: 0;

    width: 180px;

    height: 100%;

    z-index: 10;

    pointer-events: none;
}


.hm-yt-fade-left {

    left: 0;

    background:
        linear-gradient(to right,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, .85) 25%,
            rgba(0, 0, 0, 0) 100%);
}

.hm-yt-fade-right {

    right: 0;

    background:
        linear-gradient(to left,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, .85) 25%,
            rgba(0, 0, 0, 0) 100%);
}

.mv-preview:hover .hm-yt-thumb {
    transform: scale(1.02);
}


@media (max-width: 1024px) {
    .hm-yt-card {
        width: clamp(242px, 44vw, 450px);
    }
}

@media (max-width: 768px) {
    .hm-yt-card {
        width: clamp(242px, 55vw, 422px);
    }

    .hm-yt-fade-left {

        left: 0;

        background:
            linear-gradient(to right,
                rgb(0, 0, 0) 0%,
                rgba(0, 0, 0, 0.4) 8%,
                rgba(0, 0, 0, 0) 16%);
    }

    .hm-yt-fade-right {

        right: 0;

        background:
            linear-gradient(to left,
                rgb(0, 0, 0) 0%,
                rgba(0, 0, 0, 0.4) 8%,
                rgba(0, 0, 0, 0) 16%);
    }

    .hm-yt-right-btn {
        opacity: 0;
    }

    .hm-yt-left-btn {
        opacity: 0;
    }

    .hm-yt-slider {
        padding: 0 50px;
    }

    .hm-yt-video-nm {
        opacity: 1;
        font-size: 0.8rem;
    }

    .hm-yt-show-index {
        opacity: 1;
        gap: 0.15rem;
    }


    .hm-yt-current-index {


        font-size: 1.4rem;

    }

    .hm-yt-show-index span {
        font-size: 0.82rem;

    }

    .hm-yt-total-index {

        font-size: 0.8rem;

    }

}

@media (max-width: 500px) {
    #home-yt-video-section {
        padding: 40px 0;
    }

    .hm-yt-card {
        width: clamp(320px, 48vw, 369px);
    }

    .hm-yt-slider {
        gap: 30;
        padding: 0 35px;
    }

    .hm-yt-video-nm {
        padding: 1.2rem 0.65rem 0.65rem;
    }
}