/* Section */

#hm-map-sec {
    display: flex;
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    position: relative;

    padding: 180px 0;

    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

/* Background */

.hm-map-bg {

    position: absolute;
    inset: 0;
}

.hm-map-bg img {

    width: 100%;


    object-fit: cover;



}



/* Dark Overlay */

.hm-map-bg::after {

    content: "";

    position: absolute;
    inset: 0;

    background:
        linear-gradient(to bottom,
            rgba(7, 10, 18, .95),
            rgba(7, 10, 18, .55),
            rgba(7, 10, 18, .95));
}

/* Layout */

.hm-map-container {

    position: relative;

    z-index: 2;

    width: min(1400px, 90%);

    margin: auto;

    display: flex;

    align-items: center;

    gap: 70px;
}

/* Image */

.hm-map-image-card {
transition:.45s;
    position: relative;
    overflow: hidden; 

    border: 2px solid var(--lol-gold);
 box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    background: rgba(0, 0, 0, .15);
    flex: 1;
}



.hm-map-img {
    border-radius: 5px;
    width: 100%;

    display: block;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
}

.mv-preview:hover  .hm-map-img {
    transform: scale(1.02);
}


.hm-map-left-btn {
top: 50%;
    left: 25px;
}

.hm-map-right-btn {
top: 50%;
    right: 25px;
}

/* Info */

.hm-map-info {

    max-width: 450px;
}

.hm-region-tag {

    color: var(--lol-gold);

    letter-spacing: 3px;

    font-size: 13px;
}

.hm-map-info h1 {

    margin: 20px 0;

    font-size: 70px;

    color: white;

   
}

.hm-map-info p {
    overflow: hidden;
    display: -webkit-box;

    -webkit-line-clamp: 7;

    -webkit-box-orient: vertical;
   
    line-height: 2rem;

     font-size: 1.1rem;
   

    color: var(--lol-text);

    margin-bottom: 35px;
}


.hm-show-index {
    top: 88%;
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.35rem;
    position: absolute;
    font-family: "Cinzel", serif;
    color: var(--lol-gold);
    user-select: none;
}

.hm-current-index {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    color: var(--lol-gold);
}

.hm-show-index span {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--lol-gold-hover);
}

.hm-total-index {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: var(--lol-muted)
}

@media (max-width: 768px) {
    #hm-map-sec {
        padding: 0px 0;
    }

    .hm-map-container {
        padding: 80px 0;
        z-index: 0;
        flex-direction: column;
        gap: 120px;
    }

    .hm-map-bg img {
        height: 100%;
    }

    .hm-champion-img-border {
        padding: 10px;
        /* width: 360px; */
        height: auto;
        order: 1;
    }

    .hm-map-info h1 {
        margin: 0;
    }

    .hm-map-image-card {
        padding: 10px;

    }

    .hm-map-img {
        width: 100%;
        object-fit: cover;
        min-height: 220px;
    }

    /* .hm-map-arrow {
        border-radius: 30px;
        width: 34px;
        height: 34px;
        color: black;
        background-color: var(--lol-gold);

        top: 43%;
    } */


    .hm-map-right-btn {
         top: 43%;
        right: 24px;
    }

    .hm-map-left-btn {
         top: 43%;
        left: 24px;
    }

    .hm-show-index {
        top: 40%;
    }

    .hm-current-index {
        margin: 0;
        font-size: 2.4rem;

    }

    .hm-show-index span {
        font-size: 1.4rem;

    }

    .hm-total-index {
        margin: 0;
        font-size: 1rem;

    }
}