#hm-let-upd-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    /* background: var(--lol-gold-hover); */
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);


}

.hm-news-card {

    /* box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4); */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    outline: 2px solid var(--lol-gold);
    outline-offset: 4px;


}

.hm-news-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);

}


.hm-news-card-img:hover {
    transform: scale(1.03);

}

.hm-news-card-overlay {
    position: relative;
    z-index: 0;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.959) 100%);
}

.hm-news-hero-card {
    max-height: 912px;



}

.hm-news-hero-card .hm-news-card-overlay {
    padding: 40px;
}

.hm-news-hero-card .hm-news-card-title {
    font-size: 4.2rem;
    font-weight: 500;
    font-family: var(--lol-font-p);
    color: var(--lol-gold);
    line-height: 1;
    max-width: 620px;
    margin: 0.5rem 0;
}

.hm-news-grid-container {
    display: grid;
    gap: 10px;
    width: 100%;
    max-height: 800px;
 
    /* border: 2px solid var(--lol-gold); */
}

.hm-news-grid-container img{
    filter: brightness(0.8);
}

.hm-news-grid-card {
    aspect-ratio: 1 / 1;

}


.hm-news-grid-card .hm-news-card-title {
    font-size: 2.2rem;
    max-width: 650px;
    font-family: var(--lol-font-p);
    font-weight: 500;
    color: var(--lol-gold);
    line-height: 1;
    margin: 0.5rem 0;
}

.hm-news-card-subtitle {
    font-size: 0.8rem;
    font-weight: 600;
        max-width: 650px;
    color: var(--lol-muted);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;

}

.hm-let-upd-pth-ver {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--lol-neon-bl);
}

@media (max-width: 1024px) {
    .hm-news-hero-card .hm-news-card-title {
        font-size: 3rem;
    }

    .hm-news-grid-card .hm-news-card-title {
        font-size: 2rem
    }
}

@media (max-width: 900px) {
    #hm-let-upd-sec {
        grid-template-columns: 1fr;
    }

    .hm-news-grid-container {
        grid-template-columns: repeat(2, 1fr);
        height: 400px;
    }

    .hm-news-grid-card {
        aspect-ratio: 1 / 1.5;
    }

    .hm-news-hero-card .hm-news-card-title {
        font-size: 1.8rem;

    }

    .hm-news-grid-card .hm-news-card-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .hm-let-upd-pth-ver {
        font-size: 0.8rem;
    }

    .hm-news-card-subtitle {
        font-size: 10px;
    }

    .hm-news-hero-card {
        min-height: 400px;
    }

    .hm-news-card-btn {

        font-size: 10px;

        padding: 8px 18px;
    }


}

@media (max-width: 425px) {
    .hm-news-hero-card .hm-news-card-overlay {
        padding: 14px;
    }

    .hm-news-card-overlay {

        padding: 14px;
    }

    .hm-news-card-subtitle {
overflow: hidden;
display: -webkit-box; /* Required for webkit-based browsers */
-webkit-box-orient: vertical; /* Vertical orientation */
-webkit-line-clamp: 3;
    }


}