#reg-hero-section {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
}


/* =========================
   HERO VIDEO
========================= */

.reg-hero-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
}


/* =========================
   DARK GRADIENT
========================= */

#reg-hero-section::after {
    content: "";

    position: absolute;
    inset: 0;

    z-index: 1;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0.30) 55%,
            rgba(0, 0, 0, 0.60) 78%,
            rgba(5, 5, 5, 0.90) 100%);

    pointer-events: none;
}


/* =========================
   CONTENT
========================= */
.reg-hero-main-cont {
    position: absolute;
    z-index: 2;
    width: 100%;

    height: 100%;
    align-items: center;

    display: flex;
}




.reg-hero-sec-cont {
    text-align: center;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-direction: row;
}

/* LEFT */
.reg-hero-left-cont {
    height: 100%;

    flex: 1;

    border-top: 6px solid var(--lol-gold-hover);
    border-right: 8px solid var(--lol-gold-hover);
    transform: skewX(35deg);
}

.reg-hero-sec-txt {
    font-style: italic;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.8cap;
    text-transform: uppercase;

}

/* TITLE */
.reg-hero-sec-title {
    color: var(--lol-gold-hover);

    font-family: var(--lol-font-p);
    font-size: 6rem;


    white-space: nowrap;
}

.reg-hero-sec-subtitle {
    font-size: 1rem;
}

/* RIGHT */
.reg-hero-right-cont {
    height: 100%;

    flex: 1;

    border-bottom: 6px solid var(--lol-gold-hover);
    border-left: 8px solid var(--lol-gold-hover);
    transform: skewX(35deg);
}


@media (max-width: 1440px) {
    .reg-hero-sec-cont {
        gap: 3rem;
    }

    .reg-hero-sec-title {
        font-size: 5.5rem;
    }

    .reg-hero-sec-subtitle {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .reg-hero-sec-cont {
        gap: 2rem;
    }

    .reg-hero-sec-txt {

    letter-spacing: 0.6cap;


}

    .reg-hero-sec-title {
        font-size: 5rem;
    }

    .reg-hero-sec-subtitle {
        font-size: 0.6rem;
    }
}


@media (max-width: 768px) {
    #reg-hero-section {

        height: 80vh;

    }



        .reg-hero-sec-title {
        font-size: 4rem;
    }

    .reg-hero-sec-subtitle {
        font-size: 0.6rem;
    }

   
}