.main-layout-container {
   
    display: flex;
    flex-direction: column; 
    min-height: 100vh;   
  
}


.main-layout-section {
   
    flex: 1;
}


.layout-background {
    position: fixed;
    inset: 0;

    background-image: url("/app/assets/image/canvas/hm-can-1.jpg");
    background-size: cover;
    background-position: center;

    z-index: -2;
        opacity: .20;          /* <- very important */
    /* filter:
        brightness(.45)
        saturate(.75)
        contrast(.85)
        blur(1px); */
}

.layout-canvas::after{
    content:"";
    position:absolute;
    inset:0;

    background:
        linear-gradient(
            to bottom,
            rgba(8,10,18,.65),
            rgba(8,10,18,.82),
            rgba(8,10,18,.96)
        );
}