@keyframes kenBurnsZoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.12);
        /* Subtle 12% zoom in */
    }
}

.mv-preview {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.zoom-btn-img {
    outline: 2px solid var(--lol-gold-hover);
    outline-offset: 4px;
    background-color: var(--lol-gold);
    border-radius: 30px;
    padding: 10px;
    height: 60px;
    width: 60px;
    color: var(--lol-gold);
}

.mv-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, .45);
   transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    color: white;

}

.mv-preview:hover .mv-overlay {
    opacity: 1;
    transform: scale(1.02);

}

/* ======================= */
.mv-modal {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99999 !important;
}

.name-of-contenet {
    margin-top: 10px;
    font-size: 30px;
}

.mv-content {

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;


}



.ani-img{
      width: 70%;
      object-fit: cover;
    outline: 2px solid var(--lol-gold);
    outline-offset: 4px;
    overflow: hidden;
    border-radius: 0px;
}

.ani-img iframe{
    width: 100%
}

.mv-content img {
    animation: kenBurnsZoom 8s ease-in-out infinite alternate;
    will-change: transform;
}

.mv-content video {
    animation: none !important;
}

.mv-nm {
    margin-top: 20px;
    font-size: 2rem;
}

.mv-close {
    outline: 2px solid var(--lol-gold-hover);
    outline-offset: 4px;
    position: relative;
    top: 10%;
    right: -40%;
    color: white;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border: 2px solid var(--lol-gold);
    border-radius: 50%;
}

.mv-close:hover {
    background: var(--lol-gold);
    color: black;
}

@media (max-width: 1024px) {
.ani-img{
    width: 85%;
}
.mv-close{
    top: -10%;
}
}

@media (max-width: 768px) {
    .mv-overlay {
        opacity: 1;
    }


.mv-nm {
  
    font-size: 1rem;
}
   

    .ani-img iframe {
 
    height: 45vh;
}

    .zoom-btn-img {
        background-color: var(--lol-gold);
        padding: 5px;
        height: 40px;
        width: 40px;
        color: var(--lol-gold);
    }
}