.mv-preview {
    position: relative;
    cursor: pointer;
}

.zoom-btn-img {
     outline: 2px solid var(--lol-gold-hover);
    outline-offset: 4px;
    background-color: var(--lol-gold);
    border-radius: 30px;
    padding: 10px;
    height: 60px;
    width: 60px;
    color: var(--lol-gold);
}

.mv-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, .45);
    transition: .3s;
    color: white;
  
}

.mv-preview:hover .mv-overlay {
    opacity: 1;
    transform: scale(1.02);
    
}

/* ======================= */
.mv-modal {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 80%);
    display: flex;
    justify-content: center;
    align-items: center;  flex-direction: column;
    z-index: 99999;
}

.name-of-contenet{
    margin-top: 10px;
    font-size: 30px;
}

.mv-content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mv-content img, .mv-content video
 {
    max-width: 60vw;
    max-height: 90vh;
    object-fit: contain;
}

.mv-content img:hover{
    transform: scale(1.02);
}


.mv-close {
      outline: 2px solid var(--lol-gold-hover);
    outline-offset: 4px;
    position: absolute;
    top: -55px;
    right: 0;
    color: white;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    font-size: 22px;
   border: 2px solid var(--lol-gold);
    border-radius: 50%;
}
.mv-close:hover{
 background: var(--lol-gold);
 color: black;
}

/* body.media-open .hm-map-arrow{
    visibility: hidden;
} */

@media (max-width: 768px) {
    .mv-overlay {
        opacity: 1;
    }


    .mv-close{
        background: var(--lol-gold);
    }
.mv-content img,.mv-content video
 {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}
.name-of-contenet{
    font-size: 20px;
}
    .zoom-btn-img {
        background-color: var(--lol-gold);
        padding: 5px;
        height: 40px;
        width: 40px;
        color: var(--lol-gold);
    }
}