.mv-preview{

    position:relative;

    cursor:pointer;
}

.mv-preview img,
.mv-preview video{

    display:block;

    width:100%;
    height:100%;
}

.mv-overlay{

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;
    align-items:center;

    font-size:42px;

    opacity:0;

    background:rgba(0,0,0,.45);

    transition:.3s;

    color:white;
}

.mv-preview:hover .mv-overlay{

    opacity:1;
}

/* ======================= */

.mv-modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.88);

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:99999;
}

.mv-content{

    position:relative;

    max-width:90vw;
    max-height:90vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.mv-content img{

    max-width:90vw;
    max-height:90vh;

    object-fit:contain;
}

.mv-content video{

    max-width:90vw;
    max-height:90vh;
}

.mv-close{

    position:absolute;

    top:-45px;
    right:0;

    width:36px;
    height:36px;

    border:none;

    cursor:pointer;

    font-size:22px;

    background:white;

    border-radius:50%;
}