.blue-btn {
  background: var(--lol-play-btn);
  color: var(--lol-dark-btn);
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(200, 170, 110, 0.3);
    transition:
        transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        filter 0.5s ease;
  white-space: nowrap;
}



.blue-btn:hover {
  background: var(--lol-play-btn-hover);
}

.gold-btn {
    position: relative;
    outline: 2px solid var(--lol-gold);
    outline-offset: 4px;
    padding: 12px 32px;
    color: var(--lol-text);
    background: var(--lol-gold);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    cursor: pointer;
       transition:
        transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        filter 0.5s ease;
}
.gold-btn:hover {
  background-color: var(--lol-gold-hover);
  box-shadow: 0 0 25px rgba(200, 170, 110, 0.7);

}


.gold-sort-btn button{
    position: relative;
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    outline: 2px solid var(--lol-gold);
    outline-offset: 4px;
    padding: 12px 22px;
    color: var(--lol-muted);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2em;
    cursor: pointer;
       transition:
        transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
        filter 0.5s ease;
}

.gold-sort-btn button:hover {
    color: var(--lol-text);
    background-color: var(--lol-gold-hover);
    box-shadow: 0 0 25px rgba(200, 170, 110, 0.7);

}

.gold-sort-btn button.active {
    color: var(--lol-bg);
    background: var(--lol-gold);
}



.gold-btn-arrow {
  outline: 2px solid rgba(0, 0, 0, .65);
  outline-offset: 4px;
  border-radius: 30px;
  position: absolute;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background: rgba(0, 0, 0, .65);
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: .3s;
}

.gold-btn-arrow:hover {
  outline: 2px solid var(--lol-gold-hover);
  background: var(--lol-gold);
  color: black;
}



@media (max-width: 1440px) {
  .blue-btn {

    padding: 0.7rem 0.9rem;
    font-size: 0.9rem;

  }

}

@media (max-width: 768px) {

  .gold-btn {
    outline: 1px solid var(--lol-gold);
  }

  .gold-btn-arrow {
    font-size: 20px;
    outline: 2px solid var(--lol-gold-hover);
    border-radius: 30px;
    width: 34px;
    height: 34px;
    color: black;
    background-color: var(--lol-gold);


  }
}

@media (max-width: 500px) {
  .blue-btn {

    padding: 0.8rem 1rem;
    font-size: 0.8rem;

  }

      .gold-sort-btn button {
        padding: 10px 20px;

        font-size: 0.8rem;
    }
}