.hm-featured-champions-container {
    position: relative;
    width: 100%;
    min-height: 780px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
}

.hm-champion-bg {
    position: absolute;
    inset: 0;
}

.hm-camp-bg-img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    /* filter: blur(2px) brightness(.35);
    transform: scale(1.08); */
}

.hm-champion-overlay {
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to bottom, rgba(7, 10, 18, .95), rgba(7, 10, 18, .55), rgba(7, 10, 18, .95));
}

.hm-champion-info {
    position: relative;
    z-index: 0;

    max-width: 85%;


    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15rem;
}

.hm-champion-info-txt {
    max-width: 580px;
}

.hm-champion-name {
    margin: 0;

    font-size: 5rem;
    color: #fff;

    font-family: var(--lol-font-t);
    font-style: italic;
    font-weight: 700;
}

.hm-champion-title {
    margin-top: .5rem;

    color: var(--lol-gold);

    font-size: 2rem;
    font-family: var(--lol-font-p);
    font-style: italic;
}

.hm-champion-desc {
    margin-top: 2rem;

    font-size: 1.1rem;
    line-height: 2rem;

    color: var(--lol-text);
}

.hm-champion-info-diff-role {
    display: flex;
    gap: 4rem;

    margin: 3rem 0;
}

.hm-champion-diff,
.hm-champion-role {
    position: relative;
    padding-left: 1rem;
}

.hm-champion-diff::before,
.hm-champion-role::before {
    content: "";

    position: absolute;

    left: 0;
    top: 2px;

    width: 2px;
    height: 45px;

    background: var(--lol-gold-hover);
}

.hm-champion-role-label {
    margin: 0 0 .75rem;

    font-size: .7rem;
    letter-spacing: .18rem;
    color: var(--lol-gold-hover);
}

.hm-difficulty-bars {
    display: flex;
    gap: 4px;
}

.hm-difficulty-bar {
    width: 14px;
    height: 14px;

    border: 1px solid var(--lol-gold);
    background: transparent;
}

.hm-difficulty-bar.active {
    background: var(--lol-gold);
    border-color: var(--lol-gold);
}

.hm-champion-role-value {
    margin: 0;

    color: var(--lol-text);

    font-size: 1rem;
    text-transform: uppercase;
}

.hm-champ-read-btn {
    display: flex;
    justify-content: flex-end;
}

.hm-champion-img-border {
    overflow: hidden;
    position: relative;

    width: min(1400px, 100%);
 outline: 2px solid var(--lol-gold);
    outline-offset: 4px;

    /* border: 2px solid var(--lol-gold); */
    box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4);
    background: rgba(0, 0, 0, .15);
}

.hm-champion-img {

   
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    /* box-shadow: 0 0 16px 14px rgba(0, 0, 0, .4); */
}

.mv-preview:hover .hm-champion-img {

    transform: scale(1.03);
}

.hm-champion-skin-name {
    position: absolute;
    font-family: var(--lol-font-t);
    font-style: italic;
    font-size: 1.2rem;
    bottom: 18px;
    right: 18px;
    color: var(--lol-gold);
    background: var(--lol-bg);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 1;
}

.hm-champion-img-border:hover .hm-champion-skin-name {
    opacity: 1;
}


.hm-champion-img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .hm-img-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    background: rgba(0, 0, 0, .45);
    transition: .25s;
    z-index: 10;
}

.hm-img-btn:hover {
    background: var(--lol-gold);
    color: var(--lol-bg);
} */

.hm-img-btn-left {
    width: 45px;
    height: 45px;
    z-index: 1;
    top: 50%;
    left: -10%;
}

.hm-img-btn-right {
    width: 45px;
    height: 45px;
    z-index: 1;
    top: 50%;
    right: -10%;
}

.hm-skin-indicators {
    position: absolute;
    bottom: -35px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(61 61 61);
    cursor: pointer;
    transition: .25s;
}

.indicator.active {
    background: var(--lol-gold);
    transform: scale(1.25);
}

@media (max-width: 1440px) {

    .hm-champion-info{
        gap: 4rem;
    }
    .hm-img-btn-left {
        left: -15%;
    }

    .hm-img-btn-right {
        right: -15%;
    }
}


@media (max-width: 1400px) {
    .hm-champion-info {
        padding: 80px 0;
        gap: 5rem;
        flex-direction: column;
    }

    .hm-camp-bg-img {
        height: 100%;
    }

    .hm-champion-img-border {
        order: 1;
        width: min(1400px, 90%);
    }

    .hm-img-btn-left {
        left: -4%;
    }

    .hm-img-btn-right {
        right: -4%;
    }

    .hm-champion-info-txt {
        order: 2;
    }
}

@media (max-width: 500px) {
    .hm-champion-info {
        padding: 80px 0;
        gap: 7rem;
        flex-direction: column;
    }

    .hm-camp-bg-img {
        height: 100%;
    }

    .hm-champion-img-border {
        padding: 10px;
        width: min(1400px, 100%);

        height: auto;
        order: 1;
    }

    .hm-champion-skin-name {
        font-size: 0.6rem;
        opacity: 1;
    }

    .hm-img-btn-left {
        width: 34px;
        height: 34px;
        left: 2%;
        top: auto;
        bottom: -46%;

    }

    .hm-skin-indicators {
        bottom: -33%;
    }

    .hm-img-btn-right {
        width: 34px;
        height: 34px;
        right: 2%;
        top: auto;
        bottom: -46%;
    }


    .hm-champion-info-txt {
        order: 2;
    }

    .hm-champion-name {
        font-size: 3rem;
        bottom: 14px;
        right: 14px;
    }

    .hm-champion-title {
        margin-top: 0px;
        font-size: 1.8rem;
    }

    .hm-champion-info-diff-role {
        flex-direction: column;
        gap: 2rem;
    }


}